<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SchoolScannerName" value="Attendance QR Scanner" />
		<add key="SchoolName" value="Test School" />
		<add key="SchoolLogoURL" value="https://studentmanagementsystem.projectlazy.com//uploads/appsettings/school-logo.jpg" />
		<add key="SchoolWebsiteURL" value="" />
		<add key="AuthCode" value="" />
	</appSettings>
</configuration>